.card{
    width: 18rem;
}

.bg-card{
    background-color: black;
}

#Blog .card-body{
    height: 425px;
}

.fposi{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.projectContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}