body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Baloo Bhaijaan', cursive;
}
.site-header{
    background-color: rgba(0, 0, 0, .85);
}

.icone-hover {
    position: relative;
}
.icone-hover .seg {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
}
.icone-hover:hover .seg {
    visibility: visible;
    opacity: 1;
}

.option-color{
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
}

.option-color:hover{
    color: #ff1f2bff;
}